

html {
    font-size: 16px;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: aliceblue;
}


img {
    width: 125px;
}

.contentContainer {
    display: flex;
}

.contentContainer__left {
    flex: 3;
}

.fishList {
    display: flex;
    justify-content: space-evenly;
}

.fishItem {
    padding: 10px; 
}

.tipsList--right {
    flex: 1;
}

section, article,  aside {
    border: 1px solid blue;
}



body {
    background-color: darkslategrey;
}


/* #fishtank {}

.fish {}

.fish__name {} */