/* import Inter font from google fonts. */
html {
    font-size: 16px;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: aliceblue;
}

section article aside {
    border: 1px dashed blue;
}

#fishtank {}

.fish {}

.fish__name {}

body {
    background-color: darkslategrey;
}
